<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Panda_20.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Panda_20.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Panda_20.Properties.Settings>
            <setting name="fb_token" serializeAs="String">
                <value />
            </setting>
            <setting name="fb_token_expires_in" serializeAs="String">
                <value />
            </setting>
            <setting name="fbUrl" serializeAs="String">
                <value>https://www.facebook.com/dialog/oauth?client_id=244316138954589&amp;redirect_uri=https://www.facebook.com/connect/login_success.html&amp;scope=read_stream,manage_pages,read_mailbox,read_page_mailboxes,offline_access&amp;response_type=token</value>
            </setting>
            <setting name="allow_notifications_comment_own" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="allow_notifications_post_own" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="allow_notifications_comment_other" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="allow_notifications_post_other" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="notifications_max_amount" serializeAs="String">
                <value>4</value>
            </setting>
        </Panda_20.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Panda_20.Properties.Settings>
            <setting name="version" serializeAs="String">
                <value>2.0</value>
            </setting>
        </Panda_20.Properties.Settings>
    </applicationSettings>
</configuration>
